services:
  traefik:
    container_name: traefik
    command: --api.insecure=true --providers.docker
    image: traefik:latest
    networks:
      - dev-env
    ports:
      - "80:80"
      - "8080:8080"
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  mariadb:
    container_name: mariadb
    depends_on:
      - traefik
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: "1"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      retries: 3
      timeout: 5s
    image: mariadb:lts
    labels:
      - "traefik.http.routers.mariadb.rule=Host(`mariadb.localhost`)"
    networks:
      - dev-env
    ports:
      - "3306:3306"
    restart: always
    volumes:
      - "mysql-db:/var/lib/mysql"

  pgsql:
    container_name: pgsql
    depends_on:
      - traefik
    environment:
      PGPASSWORD: "password"
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "password"
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "default", "-U", "root"]
      retries: 3
      timeout: 5s
    image: "postgres:alpine"
    labels:
      - "traefik.http.routers.pgsql.rule=Host(`pgsql.localhost`)"
    networks:
      - dev-env
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - "pgsql-db:/var/lib/postgresql/data"

networks:
  dev-env:
    external: true

volumes:
  mysql-db: null
  pgsql-db: null
